*.exe
bin/
bin.old/
bin_release/
*.obj
*.log
cmake-build/
cmake-build-mingw/
cmake-build-*/
build/
dependencies/
research/
tools/
bin/PMs/
bin/control2config.txt
bin/grclib.dll
bin/*.dll
bin/images/
bin/language-specs/
bin/sounds/
bin/cache/
bin/certs/
bin/libssl-3-x64.dll
bin/share/gtk-3.0/
bin/share/icons/AdwaitaLegacy/
bin/share/mime/
bin/share/themes/
include/
lib/
build-ci-package-check*/
macos-*.log
original/
releases-repo/
